@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

a.nav-link:hover {
    color: #07daff !important;
    background-color: transparent !important;
}

.btn {
    background-color: #07daff;
}

.btn:hover {
    background-color: #005a69;
    color: #FFFFFF;
}